---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import Menu from "../components/Menu.astro";
import Busqueda from "../components/Busqueda.astro";
import TarjetaRuta from "../components/TarjetaRuta.astro";
import ArticuloRuta from "../components/ArticuloRuta.astro";
---

<Layout title="Generado de rutas">
	<header>
		<Menu />
		<Busqueda />
	</header>
	<main>
		<hr>
		<section id="seccion-destacados">
			<header>
				<h2>Rutas destacadas</h2>
				<p>Un resumen con las mejores rutas de hoy, seleccionadas <mark>exclusivamente</mark> para ti.</p>
			</header>
			<TarjetaRuta
				id="0"
				titulo="Bases en finanzas"
				subtitulo="Aprende a gestionar correctamente tu dinero, paso a paso. Una guía sencilla y para todos."
				textoEtiqueta="mejor valorado"
				claseEtiqueta="rojo"
			/>
			<TarjetaRuta
				id="1"
				titulo="Domina el análisis matemático"
				subtitulo="Sigue esta ruta y terminaras siendo un experto en resolver derivadas e integrales. Mejora tus conocimientos de cálculo y prepárate para bordarlo en lox exámenes."
			/>
			<TarjetaRuta
				id="2"
				titulo="Desarrollo front-end"
				subtitulo="Descubre las bases del desarrollo web fron-end. Es decir, cómo crear páginas web que funcionan correctamente en cualquier dispositivo."
				textoEtiqueta="más popular"
				apunte="*no requiere conocimientos de programación"
			/>
		</section>
		<hr>
		<section>
			<blockquote>
				"Intenta aprender algo sobre todo y todo sobre algo"
				<footer><i>- Thomas Huxley</i></footer>
			</blockquote>
		</section>
		<hr>
		<hr>
		<div>
			<details>
				<summary>Expandable title</summary>
				<p>Revealed content</p>
			</details>
			<details>
				<summary>Another expandable title</summary>
				<p>More revealed content</p>
			</details>
			<br>
		</div>
	</main>
	<footer>
		<hr>
		<p>
			<small>Desarrollado por: Alberto Cortijo, César Mata, Alejandro Qiu y Enrique Redondo.</small>
		</p>
		<p>
			<b>Universidad Pontificia de Salamanca</b>
		</p>
	</footer>
</Layout>