---
import iconoBusqueda from "../assets/icons/flecha-circulo-derecha.svg";
import {Image} from "astro:assets";

const { busqueda } = Astro.props;
---

<p>
    <label id="label-busqueda">
        <input placeholder="Programación, finanzas, matemáticas" type="text" value={busqueda}>
        <a onclick="window.location.href = this.previousElementSibling.value">
            <Image src={iconoBusqueda} height="30" alt="Icono de búsqueda"/>
        </a>
    </label>
</p>